fieldset {
	border: none;
	padding: 0;
}

.field-wrapper {
	position: relative;

	.select,
	.textfield,
	.checkbox {
		border: 1px solid $greyLight;
		background-color: $greyLighter;
	}

	.field-wrapper__message {
		color: $red;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		transition: opacity 0.6s ease;

		@media all and (min-width: 600px) {
			left: 1.5em;
			right: 1.5em;
		}
	}

	&--error .select,
	&--error .textfield,
	&--error .checkbox {
		background-color: $redLighter;
		border-color: $red;
		color: $red;
	}

	&--error .field-wrapper__message {
		opacity: 1;
	}
}

.select--radius-large,
.textfield--radius-large {
	@include border-radius(1.25em);
}

.faux-checkbox {
	user-select: none;
}

.faux-checkbox .faux-checkbox__visible {
	width: 1em;
	height: 1em;
	border: 1px solid $grey;
	background-color: $greyLighter;
	display: inline-block;
	@include border-radius(0.25em);

	&:before {
		content: " ";
	}
}

.faux-checkbox input[type="checkbox"] {
	display: none;
}

.faux-checkbox input:checked + .faux-checkbox__visible:before {
	content: "\2713 ";
}