.grid--spaced [class*="grid__col-"] {
	padding: 1.5em 0;
}

@media all and (min-width: 600px) {
	.grid__row {
		margin-left: -1.5em;
		margin-right: -1.5em;
		@include clearfix();

		[class*="grid__col-"] {
			float: left;
			padding-left: 1.5em;
			padding-right: 1.5em;
		}

		.grid__col-6 {
			width: 50%;

			// FIREFOX FIX
			&:nth-child(odd) {
				clear: left;
			}

			// FIREFOX FIX
			&:nth-child(even) {
				clear: right;
			}
		}
	}
}