body {
	color: $black;

	a {
		color: $blue;
	}
}

// SIZES
.text--size-x2 {
	font-size: 1.66em;
}

.text--size-x3 {
	font-size: 2.33em;
}

// WEIGHTS
.text--weight-normal {
	font-weight: normal;
}

// TRANSFORMATIONS
.text--trans-upper {
	text-transform: uppercase;
}

// DECORATIONS
.text--dec-underline {
	text-decoration: underline;
}